<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="myApp" ng-controller="myController">
   <!--最后一个参数是保留小数点位数-->
    <p>{{ 1000.15654823518 | currency: "^":5}}</p>
    <p>{{result}}</p>
    <!--时间戳-->
    <p>{{1480561686000 |date:"yyyy-mm-dd H:mm:ss"}}</p>

   <!--截取 第二个参数：截取几个;  第三个参数是：从第几个开始截取-->
    <p>{{'abcdefg'|limitTo:3:3}}</p>


   <p>{{3.14582 | number:3}}</p>
   <pre>{{{name:"小小你",age:20}|json}}</pre>

   <input type="text" ng-model="name">
   <p ng-repeat="per in arr |filter:name">{{per}}</p>

<script src="../bower_components/angular/angular.js"></script>
<script type="text/javascript">
    angular.module('myApp',[]).controller('myController',["$scope",'$filter',function ($scope,$filter) {
        $scope.result=$filter("currency")(2412446.12416535,"*",3);


        $scope.arr=["汪汪汪","大耳朵图图","小不点","啄木鸟伍迪"]
    }])
</script>
</body>
</html>