.content{
	/*width: 1200px;*/
	去原页面打开到1214px时，content的宽度是935.22px，用935.22px除以1200px;
	width: 77.93574%
}

.row div{
	/*342/1200*/
 /*width:342px,是自己原版本342px，除以自己父级的宽度1200px;*/
 width: 28.5%;


 /*160/859*/
 /*height: 160px;*/
 height: 18.58304%;
}
