/*响应式：最大值859px，最小值是640px，上原来的页面看center的宽度多少，然后除以859；再看原页面小图片的宽度多少，再除以859*/
.content{
	/*width: 658px;*/
	/* 658/859 */
	width:76.60069%;
}
.row div{
	/*width: 204px;*/
	/*204px:上原页面，再除以859;*/
	width: 23.74854%;


	/*原页面的高度是:856；*/
	/*112.97/856*/
	/*height: 112.97px;*/
	height: 13.19742%;
}