.content{
	 /*上原网页看639时，centent的宽度时486.72px，除以639px；*/
    /* width: 486.72px;*/
    width: 76.16901%;
}

.row div{
	/* 150.88/639 */
	/*width: 150.88px;*/
	width: 23.61189%;


     /* 看原页面宽度的时候，点检查，要把检查换成左右分布的页面，如果检查栏在下面的话，会影响高度的值；*/
    /*83.52/856*/
	/*height: 83.52px;*/
	height: 9.75700%;
}