
.all{
	height: 100%;
}
.bg{
	width: 100%;
	height: 100%;
}
.center{
	height: 100%;
}
.middle{
	/*width: 451.88px;*/
	/*451.88/632*/
	width: 80.5%;
	 
	/*height: 627.77px;*/
	/*627.77/878*/
	height: 71.5%;
	
}
.left{
	width: 100%;
    height: 49.49742%;
}
.left1{
	/*277.94/451.88*/
	width: 61.50747%;
	
	/*100.98/310.73*/
	height: 32.49766%;
	margin: 0;
}
.left2{
	/*165.38/451.88*/
	width: 36.59821%;
	
	/*100.98/310.73*/
	height: 32.49766%;
}
.left1 a{
	width: 100%;
	
	/*100.98/310.73*/
	height: 32.49766%;
}
.left2 a{
	width: 100%;
	/*100.98/310.73*/
	height: 32.49766%;
}
.right{
	/*451.88/451.88*/
	width: 100%;
	/*317.45/627.77*/
	height: 49.56788%;
}
.right1{
	/*165.38/451.88*/
	width: 36.59821%;
	/*101.58/317.45*/
	height: 31.99873%;
}
.right2{
	/*277.84/317.45*/
	width: 61.48535%;
	/*101.58/317.45*/
	height: 31.99873%;
}
.right1 a{
	width: 100%;
	/*101.58/317.45*/
	height: 31.99873%;
}
.right2 a{
	width: 100%;
	/*101.58/317.45*/
	height: 31.99873%;
}
.bottom{
	margin-top: 0px;
}
