body{
	min-width: 400;
}
#head{
	/*position: fixed;*/
}
#top_all{
	width: 100%;
}
.head_left{
	width: 20%;
	/*margin-top: 2%;
	margin-left: 2%;*/
}
.head_left img{
	width: 60%;
	margin-top: 6%;
	margin-left: 2%;
}
#nav{
	display: block;
}
.btn{
	display: none;
}
#content{
	padding-top: 70px;
	width: 90%;
	/*overflow: hidden;*/
}
#tu1,#tu2,#tu3{
	height: 100%;
}
.center1_right,.center2_right{
	width: 100%;
}
.center1_right h1{
	text-align: left;
}
.center2_left h1{
	text-align: left;
}
.center2_left p{
	width: 450px;
	text-align: left;
    display: block;
	height: 50px;
}
.center2_left{
	width: 100%;
	height: 50px;
}
.center1_right p{
	width: 450px;
	height: 50px;
}
.tiao2{
	display: none;
}
.center2_left{
	width: 100%;
	display: block;
	height: 180px;
}

