#head_wrap{
	width: 100%;
	height: 70px;
	background-color: black;
	overflow: hidden;
}
.top_all{
	width: 1128px;
	height: 70px;
	margin: 0 auto;
	overflow: hidden;
	/*background-color: red;*/
}
.head_left img{
	  margin-top: 15px;
	  float: left;
}
.head_right{
	width: 640px;
	float: right;
	margin-top: 30px;
}
.head_right a{
	margin-left: 20px;
	/*padding: 6px;*/
	text-decoration: none;
	color: white;
}
#nav{
	position: absolute;
	width: 25px;
	top: 28px;
	right: 40px;
	display: none;
}
/*！！！！注意*/
.btn{
	padding: 6px;
	border-radius: 5px;
}
/* 中间*/
#content{
	width: 100%;
	/*height: 1080px;*/
	height: 100%;
	margin-bottom: 60%;
}
#c_wrap{
	width: 100%;
    position: relative;
}
#c_wrap img{
	width: 100%;
    position: absolute;
	left: 0;
	top: 0;
}
#c_wrap_img1{
	opacity: 1;
}
#c_wrap_img2{
	opacity: 0;
}
#c_wrap_img3{
	opacity: 0;
}
/*大图中间的按钮*/
#btnWrap{
	position: absolute;
    left: 50%;
    top: 80%;
    margin-left: -25.5px;
    
}
#btnWrap span{
	width: 10px;
	height: 10px;
	background-color: yellow;
	border-radius:10px ;
	margin-left: 10px;
	display: inline-block;
	
}
/*瀑布流*/
.wrap{
		width: 100%;
		/*border: 1px solid #ccc;*/
		margin: 0 auto;
		overflow: hidden;
		/*height: 100%;*/
		margin-top:10%;
}
			
.wrap ul{
		list-style: none;
		width: 23%;
		padding: 10px;
		float: left;
		box-sizing: border-box;
}
			
.wrap ul li img{
		 width:100%;
		
			}
.wrap li{
	position: relative;
}
.wrap ul li div{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.wrap ul li .imgfs{
	width: 10%;
	position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
 }	
.maskDiv{
	width: 100%;
	height:100%;
	position: fixed;
	top: 0;
	left: 0;
    background-color: #000000;
    opacity: 0.6;
    display: none;
} 
.maskimg{
	width: 1200px;
	height: 800px;
	position: fixed;
	top:0;
    left: 0;
    right: 0;
    bottom: 0;
	margin: auto;
	border: 8px solid white;
	display: none;
}

/*底部*/
.bottom{
	margin-top: 40px;
}
.bottom_logo{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.bottom_logo1{
	margin-top: 20px;
}
.bottom_logo1 img{
	width: 25px;
	height: 25px;
}
.bottom_logo2{
	margin-top: 20px;
}
.bottom_logo3{
	margin-top: 20px;
}


