.content{
	/*width: 650px;*/
	width:75.7859%;
}
/*
.row div{
 width:204px;
 width: 23.74854%;
}

.box2{
	margin: 0px 42px;
	margin: 0px  0.026266%;
}
.f_left{
	width: 921px;
	width: 57.59849%;
}
.f_left img{
	width: 108px;
	width: 12.57275%;
}
.f_right{
	padding-left: 400px;
	padding-left: 46.56577%;
}
.f_logo img{
	width: 143px;
	width: 16.64726%;
}*/