.content{
	/*width: 1200px;*/
	width: 87.847730%
}

.row div{
 /*width:342px;*/
 width: 25.03660%;
}

.box2{
	/*margin: 0px 42px;*/
	margin: 0px  2.6266%;
}
.f_left{
	/*width: 921px;*/
	width: 57.59849%;
}
.f_left img{
	/*width: 30px;*/
	width: 1.876172%;
}
.f_right{
	/*padding-left: 20px;*/
	padding-left: 1.25078%;
}
.f_logo img{
	/*width: 143px;*/
	width: 18.943089%;
}