.left_text{
	width: 95%;
	text-align: left;
	padding-top: 20px;
	/*background-color: yellow;*/
}
.left_text p{
	width: 80%;
	padding-bottom: 30px;
	padding-left: 80px;
	
}
.content_left{
	width: 100%;
	
}
.content_bg{
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
