<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="myApp">
<div class="all" ng-controller="myController">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-striped table-hover">
                    <thead>
                    <span style="font-size: 30px;">User</span>
                    <tr>
                        <th>
                            编辑
                        </th>
                        <hr>
                        <th>
                            姓
                        </th>
                        <th>
                            名
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in person">
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="change($index)">
                                <span class="glyphicon glyphicon-pencil"></span> 编辑
                            </button>
                        </td>
                        <td>
                            <span>{{x.fName}}</span>
                        </td>
                        <td>
                            <span>{{x.sName}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <button type="button" class="btn btn-success btn-default">创建新用户</button>
            </div>
        </div>
        <div class="row clearfix">

            <div class="col-md-12 column">
                <span style="font-size: 30px;">创建新用户</span>
                <div class="input-group-sm">
                    姓： <input type="text" class="form-control" ng-change="gai()" ng-model="a">
                </div>

                <div class="input-group-sm">
                    名：<input type="text" class="form-control" ><p>{{a}}</p>
                </div>

                <div class="input-group-sm">
                    密码：<input type="text" class="form-control" >
                </div>
                <div class="input-group-sm">
                    重复密码：<input type="text" class="form-control">
                </div>
                <button type="button" class="btn btn-success btn-default">保存</button>
            </div>

        </div>
    </div>
</div>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script type="text/javascript">
    angular.module("myApp",[]).controller("myController",["$scope",(s)=>{
        s.person = [{
            fName:"高",
            sName:"山",
            change:false
        },{
            fName:"史蒂夫",
            sName:"山",
            change:false
        },{
            fName:"史蒂夫",
            sName:"山",
            change:false
        },{
            fName:"史蒂夫",
            sName:"山",
            change:false
        },];



    }])
</script>
</body>
</html>