<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="ShopApp">
<div ng-controller="ShowController">
    <table border="1">
        <tr>
            <td><input type="checkbox" ng-checked="allSelect" ng-click="selectAll()">全选/取消全选</td>
            <td>名字</td>
            <td>数量</td>
            <td>单价</td>
            <td>总价</td>
        </tr>
        <tr ng-repeat="good in products">
            <td><input type="checkbox" ng-model="good.check"></td>
            <td>{{good.title}}</td>
            <td>
                <input type="text" ng-model="good.count" ng-change="good.check=good.count>0?true:false">
                <input type="button" value="+" ng-click="good.count=good.count+1;good.check=good.count>0?true:false">
                <input type="button" value="-" ng-click="jian($index)">
            </td>
            <td>{{good.price}}</td>
            <td>{{good.count * good.price}}</td>
        </tr>
    </table>
    <p>总价: {{totalPrice()}}</p>
</div>



<script src="../bower_components/angular/angular.js"></script>
<script type="text/javascript">
    angular.module("ShopApp", []).controller("ShowController", ['$scope', function ($scope) {
        $scope.products = [
            {
                check: false,
                title: "洗衣机",
                count: 0,
                price: 900
            },{
                check: false,
                title: "电冰箱",
                count: 0,
                price: 500
            },{
                check: false,
                title: "火腿肠",
                count: 0,
                price: 20
            },{
                check: false,
                title: "电视机",
                count: 0,
                price: 1900
            },{
                check: false,
                title: "床",
                count: 0,
                price: 2000
            },{
                check: false,
                title: "笔记本",
                count: 0,
                price: 50
            }
        ]

        //减号的方法
        $scope.jian = function (index) {
            $scope.products[index].count--;
            if ($scope.products[index].count < 0) {
                var canRemove = confirm("是否要删除");
                if (canRemove) {
                    $scope.products.splice(index,1);
                }else {
                    $scope.products[index].count = 0;
                    $scope.products[index].check = false;
                }
            }
        }

        //总价
        $scope.totalPrice = function () {
            var totalPrice = 0;
            angular.forEach($scope.products, function (good) {
                totalPrice += good.check ? good.count * good.price : 0;
            })
            return totalPrice;
        }

        //全选
        $scope.allSelect = false;

        //全选的点击事件
        $scope.selectAll = function () {
            $scope.allSelect = !$scope.allSelect;
            if ($scope.allSelect) {
                angular.forEach($scope.products, function (good) {
                    good.check = true;
                });
            }else {
                angular.forEach($scope.products, function (good) {
                    good.check = false;
                });
            }
        }
    }])
</script>
</body>
</html>