<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            font-size: 25px;
        }
    </style>
</head>
<body >
<div ng-app="TOdoApp" ng-controller="myCtrl" ng-init="a=false" >
    <table border="2"   >
        <tr >
            <th><input type="checkbox" ng-click="a=!a" >全选/取消全选</th>
            <th>名称</th>
            <th>数量</th>
            <th>单价</th>
            <th>价格</th>
        </tr>
        <tr ng-repeat="x in todolist">
            <td><input type="checkbox" ng-checked="x.done;a" ng-model="x.done" ></td>
            <td>{{x.title}}</td>
            <td><input type="text">{{x.count}}<input type="button" ng-click="x.count = x.count + 1" value="+">
                <input type="button" ng-click="x.count = x.count -1" value="-"></td>
            <td>{{x.dan}}</td>
            <td>{{x.count*x.dan}}</td>
        </tr>
    </table>
    <p>总价格：{x.count}</p>
</div>
<script src="../bower_components/angular/angular.js"></script>
<script type="text/javascript">
    var app = angular.module("TOdoApp",[]);
    app.controller("myCtrl",["$scope",function (a) {
        a.todolist = [{
            title:"洗衣机",
            done:false,
            count:0,
            dan:900,
            jia:""
        },{
            title:"热水器",
            done:false,
            count:0,
            dan:110,
            jia:""
        },{
            title:"空调",
            done:false,
            count:0,
            dan:116,
            jia:""
        },{
            title:"冰箱",
            done:false,
            count:0,
            dan:900,
            jia:""
        },{
            title:"电磁炉",
            done:false,
            count:0,
            dan:900,
            jia:""
        },{
            title:"被子",
            done:false,
            count:0,
            dan:200,
            jia:""
        },{
            title:"本子",
            done:false,
            count:0,
            dan:400,
            jia:""
        },{
            title:"笔",
            done:false,
            count:0,
            dan:900,
            jia:""
        },{
            title:"杯子",
            done:false,
            count:0,
            dan:900,
            jia:""
        },{
            title:"书",
            done:false,
            count:0,
            dan:900,
            jia:""
        }];
    }])

</script>

</body>
</html>