<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            font-size: 25px;
        }
    </style>
</head>
<body ng-app="TOdoApp" >
<table border="2"  ng-controller="controller" ng-init="a=true" >
    <tr >
        <th><input type="checkbox" ng-click="a=!a" >全选/取消全选</th>
        <th>名称</th>
        <th>数量</th>
        <th>单价</th>
        <th>价格</th>
    </tr>
    <tr ng-repeat="x in todolist">
        <td><input type="checkbox" ng-checked="a.done" ng-model="a.done" ></td>
        <td>{{x.title}}</td>
        <td><input type="text">{{x.count}}<input type="button" value="+"><input type="button" value="-"></td>
        <td>{{x.dan}}</td>
        <td>{{x.jia}}</td>
    </tr>


</table>

<script src="../bower_components/angular/angular.js"></script>
<script type="text/javascript">
    var app = angular.module("TOdoApp",[]);
    app.controller("controller",["$scope",function (a) {
        a.todolist = [{
            title:"洗衣机",
            done:false,
            count:2,
            dan:900,
            jia:1800
        },{
            title:"热水器",
            done:false,
            count:2,
            dan:110,
            jia:220
        },{
            title:"空调",
            done:false,
            count:2,
            dan:116,
            jia:348
        },{
            title:"冰箱",
            done:false,
            count:2,
            dan:900,
            jia:1800
        },{
            title:"电磁炉",
            done:false,
            count:2,
            dan:900,
            jia:1800
        },{
            title:"被子",
            done:false,
            count:2,
            dan:200,
            jia:400
        },{
            title:"本子",
            done:false,
            count:2,
            dan:400,
            jia:800
        },{
            title:"笔",
            done:false,
            count:2,
            dan:900,
            jia:1800
        },{
            title:"杯子",
            done:false,
            count:2,
            dan:900,
            jia:1800
        },{
            title:"书",
            done:false,
            count:2,
            dan:900,
            jia:1800
        }];
    }])

</script>

</body>
</html>