*{
	margin: 0;
	padding: 0;
}
.contentWrap_bg{
	background: url(../img/about/world_map.png) center center no-repeat;
	width: 100%;
	height: 100%;
	background-color: #e3e3e3;
}
.content_txt{
	width: 500px;
	padding-top: 100px;
	padding-left: 10px;
	text-align: left;
}
.content_txt h3{
	font-size: 1.8em;
	margin-bottom: 20px;
	font-family: Arial,sans-serif,Microsoft YaHei;
	font-weight: normal;
}
.content_txt p{
	font-family: arial;
	font-size: medium;
	font-weight: lighter;
	line-height: 2em;
	word-break: break-all;
}
.content_txt p:nth-child(2){
	padding-bottom: 2em;
}
.content_logos ul{
	list-style: none;
	padding-left: 10px;
	padding-bottom: 20px;
}
.content_logos li{
	display: inline-block;
	margin-right: 50px;
	margin-top: 20px;
}
