*{
	margin: 0;
	padding: 0;
}
.contentWrap{
	width: 100%;
	/*height: 600px;*/
	background: url(../img/contact/contact_point_bg.png) no-repeat;
	background-color: #f5f5f5;
	background-position: center 69px;
	text-align: center;
	padding-top: 7em;
	padding-bottom: 17em;
	position: relative;
}
.titleSpan{
	font-size: 1.4em;
	font-weight: bold;
	font-family: arial;
}
.conSpan{
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	color: #595757;
	font-family: Arial,sans-serif,Microsoft YaHei;
}
.contsWrap span,.mailWrap span{
	margin: 5px;
}
.contsWrap{
	margin-bottom: 30px;
}
.mailWrap .conSpan{
	font-weight: normal;
}
.addWrap div{
	display: inline-block;
}
.addWrap p{
	font-size: 0.8em;
	color: #595757;
	text-align: left;
	font-family: arial;
}
.add1,.add2,.add3{
	margin: 50px 50px 0 50px ;
}
.add1Con,.add2Con,.add3Con{
	vertical-align: top;
	margin-left: 5px;
}
.conBg img{
	width: 100%;
}
.conBg{
	width: 100%;
	position: absolute;
	bottom: 0;
}
.add2Con p{
	padding-top: 10px;
}
#contact_footer{
	background-color: #f5f5f5;
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#contact_footer2{
	margin-top: 0;
}
