*{
	margin: 0;
	padding: 0;
}
.content_top{
	background-color: black;
	border-top: 1px solid #8291A0;
	width: 100%;
	position: relative;
}
.imgWrap{
	width: 1127px;
	height: 580px;
	margin: 0 auto;
	text-align: center;
}
.imgWrap img{
	width: 100%;
	height: 100%;
}
.titleWrap{
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	/*height: 70px;*/
	background-color: black;
	opacity: 0.6;
	padding: 2% 0 1% 0;
}
.titleWrap span{
	color: white;
	font-size: 1.4em;
	font-family: arial;
	display: inline-block;
}
.content_top>img{
	width: 4%;
	position: absolute;
	left: 49%;
	top: 41%;
}
.content{
	text-align: center;
}
.content div{
	display: inline-block;
	border-radius: 10px;
	margin: 10px;
	position: relative;
}
.content p{
	color: #909090;
	font-family: Arial,sans-serif,Microsoft YaHei;
	width: 100%;
	/*padding: 7% 0;*/
}
.playImg1,.playImg2,.playImg3{
	width: 7%;
	position: absolute;
	top: 31%;
	left: 46%;
}
