body,html{
	height: 100%;
}
.content1,.content2,.content3{
	width: 980px;
	height: 160px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px solid #e1e1e1;
	background-color: yellowgreen;
}
.content1_left,.content2_left,.content3_left{
	width: 590px;
	height: 100%;
	float: left;
	position: relative;
	background-color: red;
}
.content1_left img,.content2_left img,.content3_left img{
	width: 100%;
	/*height: 100%;*/
	
}
.content1_left img:first-child,.content2_left img:first-child,.content3_left img:first-child{
	z-index: 1;
	position: absolute;
}
.content1_center,.content2_center,.content3_center{
	width: 20px;
	height: 100%;
	float: left;
	background-color: rgb(176, 176, 176);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.content1_right,.content2_right,.content3_right{
	width: 353px;
	height: 100%;
	float: left;
	padding-top: 20px;
}
.content1_right,.content3_right{
	padding-left: 17px;
}
.content1_right a,.content2_right a,.content3_right a{
	color: black;
	text-decoration: none;
}
.content1_right h6,.content2_right h6,.content3_right h6{
	font-size: 2em;
	font-weight: bolder;
	font-family: arial;
}
.content1_right p,.content2_right p,.content3_right p{
	font-family: 微软雅黑;
	line-height: 2em;
}
.content2_right{
	padding-right: 17px;
	text-align: right;
}
.content2_left{
	float: right;
}
.content2_center{
	float: right;
}
.content2_right{
	float: left;
}
