.content1,.content2,.content3{
	width: 100%;
	/*height: 306px;*/
	/*height: 31.80873%;*/
	height: 100%;
}
.content1_left,.content2_left,.content3_left{
	width: 100%;
	/*height: 161px;*/
	/*height: 52.61437%;*/
}
.content1_center,.content2_center,.content3_center{
	display: none;
}
.content1_right,.content2_right,.content3_right{
	width: 100%;
	/*height: 143px;*/
	/*height: 46.73202%;*/
	float: right;
	text-align: center;
}
.content1_right p,.content2_right p,.content3_right p{
	text-align: left;
	font-size: 0.8em;
	line-height: 1.6em;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-left: 10px;
}
.content2_right{
	padding-right: 0;
}
.content1_right h6,.content2_right h6,.content3_right h6{
	font-size: 1.3em;
}

