*{
	margin: 0;
	padding: 0;
}
body,html{
	height: 100%;
}
.rollImgWrap{
	width: 100%;
	position: relative;
}
.rollImgWrap img:nth-child(1){
	position: absolute;
	z-index: 2;
}
.rollImgWrap img:nth-child(2){
	position: absolute;
	z-index: 1;
}
.rollImgWrap img{
	width: 100%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.rollImgBtn{
	position: absolute;
	bottom: 20px;
	left: 48%;
	z-index: 4;
}
.rollImgBtn a{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #8291A0;
	border-radius: 5px;
	margin: 0 5px;
}
.rollImgBtn a:first-child{
	background-color: #cfdb00;
}
.imgFall{
	width: 100%;
	/*height: 100%;*/
	margin-top: 20px;
	overflow: hidden;
	margin: 0 auto;
	/*padding-left: 4%;*/
}
.imgFall ul{
	list-style: none;
	/*width: 437px;*/
	width: 23%;
	/*height: 100%;*/
	margin: 0 1%;
	float: left;
	/*background-color: red;*/
}
.imgFall ul li{
	/*width: 100%;*/
	/*margin: 20px 0;*/
	margin: 20px 0;
	/*float: left;*/
	position: relative;
	/*z-index: 1;*/
	cursor: pointer;
}
.fallContImg{
	width: 100%;
	/*background-color: red;*/
	/*z-index: 1;*/
}
.coverDiv{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: black;
	/*width: 100%;*/
	text-align: center;
	opacity: 0;
	/*vertical-align: middle;*/
	/*display: none;*/
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.fangda{
	/*display: none;*/
	width: 9%;
	/*margin-top: 50%;*/
	position: absolute;
	top: 44%;
}
.maskDiv{
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	opacity: 0.5;
	display: none;
}
.showImg{
	width: 80%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 20;
	border: 10px solid white;
	display: none;
}
